<html>
	<head>
		<title>Result</title>
	</head>
	<body>
		<H2 align="center">Matching Documents = <%= restaurant.length %></H2>
		<br>
		<%for(var i=0; i<restaurant.length; i++) { %>
			<%= (i+1) + ". " + restaurant[i]%>
			<p>
		<% } %>	
		<Center><a href="/">Go Home</a></Center>
	</body>
</html>
		